{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block header %}
    <h2>Edit entry:</h2>
{% endblock header %} 
{% block content %}
    <p><a style="text-decoration:none;outline:none;" href="javascript:return_topic()">{{ topic }}</a></p>
    <form id="form" action="{% url 'learning_logs:edit_entry' entry.id page_no %}" method='post'>
	{% csrf_token %}
	{% bootstrap_form form %}
    </form>
	{% buttons %}
	<div style="text-align:center;">
		<button id='submit' class="btn btn-primary">save changes</button>
		<button type="button" class="btn btn-primary" onclick="dele_entry()">delete entry</button>
	</div>
	{% endbuttons %}
	<div id="background" class="background">
		<img src="{% static 'images/loading.gif' %}" class="loading">
	</div>
<style type="text/css">
	.background {
		display: none;
		opacity: 0.4;
		filter: alpha(opacity=40);
		background:#bdc3c7;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
		text-align:center;
	}
	.loading{
		margin-top:20%;
		width:7%;
		height:14%;
	}
</style>
	<script	type="text/javascript">
    $(function(){
        $('#id_text')[0].focus()
    });
    $("#submit").click(function(){
		$("#form").submit();
		$("#background").css({display:"block",width:$(document.body).outerWidth(true),height:$(document.body).outerHeight(true)});
	});
	function return_topic()
	{
		$.confirm({
			closeIcon: true,
			title: '系统提示',
			content: '放弃本次编辑？',
			//type:'red',
			//icon:'glyphicon glyphicon-question-sign',
			buttons: {
				ok: {
					text: '确认',
					btnClass: 'btn-primary',
					action: function(){
					location.href="{% url 'learning_logs:topic' topic.id page_no %}";
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'btn-primary',
					action: function(){
						// button action.
					}
				}
			}
		});
	}
	function dele_entry()
	{
		$.confirm({
			closeIcon: true,
			title: '系统提示',
			content: '确认要删除吗？',
			//type:'red',
			//icon:'glyphicon glyphicon-question-sign',
			buttons: {
				ok: {
					text: '确认',
					btnClass: 'btn-primary',
					action: function(){
					location.href="{% url 'learning_logs:dele_entry' entry.id page_no %}";
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'btn-primary',
					action: function(){
						// button action.
					}
				}
			}
		});
	}
	</script>
{% endblock content %}