{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Edit entry:</h2>
{% endblock header %} 
{% block content %} 
    <p><a style="text-decoration:none;outline:none;" href="javascript:return_topic()">{{ topic }}</a></p>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
	{% csrf_token %}
	{% bootstrap_form form %}
	{% buttons %}
	<div style="text-align:center;">
		<button name='submit' class="btn btn-primary">save changes</button>
		<button type="button" class="btn btn-primary" onclick="dele_entry()">delete entry</button>
	</div>
	{% endbuttons %}
    </form> 
	
	<script	type="text/javascript">
	function return_topic()
	{
		$.confirm({
			closeIcon: true,
			title: '系统提示',
			content: '放弃本次编辑？',
			//type:'red',
			//icon:'glyphicon glyphicon-question-sign',
			buttons: {
				ok: {
					text: '确认',
					btnClass: 'btn-primary',
					action: function(){
					location.href="{% url 'learning_logs:topic' topic.id %}";
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'btn-primary',
					action: function(){
						// button action.
					}
				},
			}
		});
	}
	function dele_entry()
	{
		$.confirm({
			closeIcon: true,
			title: '系统提示',
			content: '确认要删除吗？',
			//type:'red',
			//icon:'glyphicon glyphicon-question-sign',
			buttons: {
				ok: {
					text: '确认',
					btnClass: 'btn-primary',
					action: function(){
					location.href="{% url 'learning_logs:dele_entry' entry.id %}";
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'btn-primary',
					action: function(){
						// button action.
					}
				},
			}
		});
	}
	</script>
{% endblock content %}