{% extends "learning_logs/base.html" %}
{% load pagetag %}
{% block header %}
    <h2>{{ topic }}</h2>
	<h3>
		<a style="text-decoration:none;outline:none;" href="{% url 'learning_logs:edit_topic' topic.id %}">edit topic</a>
		&nbsp;&nbsp;
		<a style="text-decoration:none;outline:none;" href="javascript:dele_topic()">delete topic</a>
	</h3>
{% endblock header %}

{% block content %}  
	<p><a href="{% url 'learning_logs:new_entry' topic.id %}">add new entry</a> </p>
	{% for entry in entries %}
	<div class="panel panel-default">
	<div class="panel-heading">
	 <h3> 
	<span>Creation Time:</span>{{ entry.date_added|date:'M d, Y H:i' }}
	</h3>
	<div>
	<button type="button" class="btn btn-primary" onclick="javascript:top.location='{% url 'learning_logs:edit_entry' entry.id %}'">edit entry</button>
	</div>
	</div>
 	<div class="panel-body"> 
	{{ entry.text|linebreaks }}
	</div>
	</div>
	{% empty %}
	  <li>There are no entries for this topic yet. </li>
	{% endfor %}
	<nav aria-label="Page navigation" style="text-align:center;">
		<ul class="pagination">
			{% if entries.has_previous %}
				<li>
					<a style="text-decoration:none;outline:none;" href="?page={{ entries.previous_page_number }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
			{% endif %}
			{% for pg in entries.paginator.page_range %}
				{% circle_page entries.number pg entries.paginator.num_pages %}
			{% endfor %}
			{% if entries.has_next %}
				<li>
					<a style="text-decoration:none;outline:none;" href="?page={{ entries.next_page_number }}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					</a>
				 </li>
			{% endif %}
		</ul>
	</nav>
	<script	type="text/javascript">
	function dele_topic()
	{
		$.confirm({
			closeIcon: true,
			title: '系统提示',
			content: '确认要删除吗？',
			//type:'red',
			//icon:'glyphicon glyphicon-question-sign',
			buttons: {
				ok: {
					text: '确认',
					btnClass: 'btn-primary',
					action: function(){
					location.href="{% url 'learning_logs:dele_topic' topic.id %}";
					}
				},
				cancel: {
					text: '取消',
					btnClass: 'btn-primary',
					action: function(){
						// button action.
					}
				},
			}
		});
	}
	</script>
{% endblock content %}