{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block header %}
    <h2>Add a new picture:</h2>
{% endblock header %} 
{%block content %}
<form id="form" action="{% url 'learning_logs:new_img' entry.id page_no %}" method='post' enctype="multipart/form-data">
 {% csrf_token %}
 {% bootstrap_form form %}
</form>
	{% buttons %}
		<button id='submit' class="btn btn-primary">add pic</button>
	{% endbuttons %}
	<div id="background" class="background">
		<img src="{% static 'images/loading.gif' %}" class="loading">
	</div>
<style type="text/css">
	.background {
		display: none;
		opacity: 0.4;
		filter: alpha(opacity=40);
		background:#bdc3c7;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
		text-align:center;
	}
	.loading{
		margin-top:20%;
		width:7%;
		height:14%;
	}
</style>
<script	type="text/javascript">
	$("#submit").click(function(){
		$("#form").submit();
		$("#background").css({display:"block",width:$(document.body).outerWidth(true),height:$(document.body).outerHeight(true)});
	});
    $(function(){
    	$("#id_name")[0].focus();
    });
</script>
{% endblock content %}