{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
    <h2>Alter your account.</h2>
{% endblock header %}
{% block content %}
 <form id="form" method="post" action="{% url 'users:setting' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
	<input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
</form>
	{% buttons %}
		<button id="submit" class="btn btn-primary">register</button>
	{% endbuttons %}
		<script	type="text/javascript">
		$(function(){
			$("#id_password1").addClass("validate[required]").focus();
			$("#id_password2").addClass("validate[required,minSize[8],custom[checkpass]]");
			$("#id_password3").addClass("validate[required,equals[id_password2]]");
			$("#form").validationEngine('attach',{
				promptPosition: "topRight", //验证弹出框的位置，topRight,topLeft,bottomRight,bottomLeft,centerRight,centerLeft,inline
				focusFirstField: true,
				onValidationComplete: function(form, status){
				//表单提交前的验证结果回调函数，如果验证成功把disable了的表单控件恢复
					if (status) {
						 return true;
	 	 				//return true后表单会提交
				 	}
				}
			});
		});
		$("#submit").click(function () {
			if($("#form").validationEngine('validate')){
				$.ajax({
				url:"{% url 'users:check_pass' %}",
				type:'POST',
				dataType: 'json',
				cache:false,
				data:{'password':$("#id_password1").val()}
				}).done(function (data) {
						if(data.result===false){
							alert_ok();
						}else{
							$("#id_password1").focus();
							alert_password();
						}
					});
			}
		});
		function alert_password(){
			$.alert({
				closeIcon: true,
				title: 'Alerts',
				content: 'Wrong password!'
			});
		}
		function alert_ok(){
			$.alert({
				title: 'Tips',
				content: 'Update successfully!',
				buttons:{
					ok: {
						text: "ok!",
						btnClass: 'btn-primary',
						keys: ['enter'],
						action: function(){
							$("#form").submit();
						}
					}
				}
			});
		}
	</script>
{% endblock content %}